/MetadataCollection.class
/ModFinder$ModAnnotationVisitor.class
/ModFinder$ModClassVisitor.class
/ModFinder$ModMethodVisitor.class
/ModFinder.class
/ModNameRegistry.class
/ArtifactVersion.class
/MetadataCollection$ArtifactVersionAdapter.class
/ModFinder$ModClassVisitor$1.class
